<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add chats</title>
</head>

<body>
    <h1>Add your Thoughts</h1>
    <form action="/chats" method="post">
        <input type="text" name="from" placeholder="who are u"><br><br>
        <textarea name="msg">add your thought..</textarea><br><br>
        <input type="text" name="to" placeholder="Received by"><br><br>
        <button>add thought</button>
    </form>
</body>

</html>